<section>
  <div class="city">
    <div class="city__header">
      <h4>اسنپ‌فود در شهرهای ایران</h4>
    </div>
    <div class="city__body">
      <div class="city__body__item">
        <span>تهران</span>
        <span>قم</span>
        <span>اسلامشهر</span>
        <span>آمل</span>
        <span>قائم‌ شهر</span>
        <span> اندیمشک</span>
        <span> نسیم شهر</span>
      </div>
      <div class="city__body__item">
        <span>تهران</span>
        <span>قم</span>
        <span>اسلامشهر</span>
        <span>آمل</span>
        <span>قائم‌ شهر</span>
        <span> اندیمشک</span>
        <span> نسیم شهر</span>
      </div>
      <div class="city__body__item">
        <span>تهران</span>
        <span>قم</span>
        <span>اسلامشهر</span>
        <span>آمل</span>
        <span>قائم‌ شهر</span>
        <span> اندیمشک</span>
        <span> نسیم شهر</span>
      </div>
      <div class="city__body__item">
        <span>تهران</span>
        <span>قم</span>
        <span>اسلامشهر</span>
        <span>آمل</span>
        <span>قائم‌ شهر</span>
        <span> اندیمشک</span>
        <span> نسیم شهر</span>
      </div>
      <div class="city__body__item">
        <span>تهران</span>
        <span>قم</span>
        <span>اسلامشهر</span>
        <span>آمل</span>
        <span>قائم‌ شهر</span>
        <span> اندیمشک</span>
        <span> نسیم شهر</span>
      </div>
      <div class="city__body__item">
        <span>تهران</span>
        <span>قم</span>
        <span>اسلامشهر</span>
        <span>آمل</span>
        <span>قائم‌ شهر</span>
        <span> اندیمشک</span>
        <span> نسیم شهر</span>
      </div>

      <div class="city__body__item">
        <span>تهران</span>
        <span>قم</span>
        <span>اسلامشهر</span>
        <span>آمل</span>
        <span>قائم‌ شهر</span>
        <span> اندیمشک</span>
        <span> نسیم شهر</span>
      </div>
      <div class="city__body__item">
        <span>تهران</span>
        <span>قم</span>
        <span>اسلامشهر</span>
        <span>آمل</span>
        <span>قائم‌ شهر</span>
        <span> اندیمشک</span>
        <span> نسیم شهر</span>
      </div>
      <div class="city__body__item">
        <span>تهران</span>
        <span>قم</span>
        <span>اسلامشهر</span>
        <span>آمل</span>
        <span>قائم‌ شهر</span>
        <span> اندیمشک</span>
        <span> نسیم شهر</span>
      </div>
    </div>
  </div>
</section>
