<section>
  <div class="container">
    <div class="main">
      <div class="main__left">
        <div class="main__left__row">
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="main__left__row">
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="main__left__row">
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="main__left__row">
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="main__left__row">
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="main__left__row">
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="main__left__row">
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="main__left__row">
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="main__left__row__item">
            <div class="main__left__row__item__up">
              <img
                class="picure"
                src="../../../assets/img/flestin__img.jpeg"
                alt=""
              />
              <span class="tag"></span>
            </div>
            <div class="main__left__row__item__down">
              <span class="title">چلوپز (فلسطین)</span>
              <span class="pointer">
                <i class="fa fa-star"></i>
                ۴.۳(۳۱,۶۳۶ امتیاز)
              </span>
              <span class="discripshio">ایرانی، سنتی، کباب</span>
              <span class="price">ارسال اکسپرس ۹,۰۰۰ تومان</span>
            </div>
            <div class=".main__left__row__itemicon">
              <img
                class="icon_pic"
                src="../../../assets/img/litle_flestin.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="main__right">
        <div class="main__right__up">
          <div class="main__right__up__title">
            <span>همه دسته‌بندی‌ها</span>
          </div>
          <div class="main__right__up__items">
            <img src="../../../assets/img/lit fastfood.png" alt="" />
            <span>فست‌فود</span>
          </div>
          <div class="main__right__up__items">
            <img src="../../../assets/img/lit fastfood.png" alt="" />
            <span>فست‌فود</span>
          </div>
          <div class="main__right__up__items">
            <img src="../../../assets/img/lit fastfood.png" alt="" />
            <span>فست‌فود</span>
          </div>
          <div class="main__right__up__items">
            <img src="../../../assets/img/lit fastfood.png" alt="" />
            <span>فست‌فود</span>
          </div>
          <div class="main__right__up__items">
            <img src="../../../assets/img/lit fastfood.png" alt="" />
            <span>فست‌فود</span>
          </div>
        </div>
        <div class="main__right__midel">
          <div class="main__right__midel__title">
            <p>کلاس قیمتی</p>
          </div>
          <div class="main__right__midel__item">
            <span>همه</span>
            <span>اقتصادی</span>
            <span> متوسط</span>
            <span> گران</span>
          </div>
        </div>
        <div class="main__right__down">
          <div class="main__right__down__item">
            <span>دارای کوپن</span>
            <label dir="ltr" class="sc-fodVxV krfkJJ"
              ><input
                dir="rtl"
                type="checkbox"
                class="sc-kstrdz gJbLxI" /><span></span
            ></label>
          </div>
          <div class="main__right__down__item">
            <span>دارای تخفیف</span>
            <label dir="ltr" class="sc-fodVxV krfkJJ"
              ><input
                dir="rtl"
                type="checkbox"
                class="sc-kstrdz gJbLxI" /><span></span
            ></label>
          </div>
          <div class="main__right__down__item">
            <span> ارسال اکسپرس</span>
            <label dir="ltr" class="sc-fodVxV krfkJJ"
              ><input
                dir="rtl"
                type="checkbox"
                class="sc-kstrdz gJbLxI" /><span></span
            ></label>
          </div>
          <div class="main__right__down__item">
            <span>فودپرو</span>
            <label dir="ltr" class="sc-fodVxV krfkJJ"
              ><input
                dir="rtl"
                type="checkbox"
                class="sc-kstrdz gJbLxI" /><span></span
            ></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
